In [2]:
import pandas as pd

# NOTE: Data ends on 2024-04-27
file_path = '../output/pf_avg_betas/in_progress_mle_betas-AZ-2024-09-17.csv'
df = pd.read_csv(file_path, index_col=0)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,298,299,300,301,302,303,304,305,306,307
0,0.132410,0.219586,0.206775,0.204241,0.208572,0.213411,0.221221,0.214120,0.207632,0.217936,...,0.066709,0.096653,0.094852,0.097721,0.097755,0.099446,0.095915,0.094371,0.086387,0.086705
1,0.172134,0.209719,0.211958,0.210080,0.242079,0.239364,0.241464,0.238677,0.244740,0.239564,...,0.100594,0.104363,0.102957,0.109803,0.115164,0.111423,0.110826,0.114570,0.121233,0.086250
2,0.178508,0.216867,0.220798,0.231714,0.216003,0.213595,0.210770,0.214453,0.210159,0.217801,...,0.107474,0.098576,0.111736,0.108764,0.105419,0.102084,0.105249,0.100140,0.096308,0.123318
3,0.195547,0.223057,0.226601,0.219814,0.227524,0.225050,0.222587,0.216212,0.224038,0.232607,...,0.099271,0.103322,0.108889,0.114354,0.105369,0.097142,0.088296,0.088914,0.089045,0.093148
4,0.131785,0.218656,0.224687,0.223403,0.226173,0.227989,0.232523,0.233861,0.227559,0.235723,...,0.103630,0.101213,0.102823,0.112139,0.104160,0.102658,0.105478,0.104485,0.105256,0.089569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.068360,0.121274,0.143969,0.137551,0.124366,0.118082,0.115131,0.111531,0.111368,0.118124,...,0.087479,0.077721,0.081664,0.085352,0.112865,0.107457,0.114699,0.118220,0.112825,0.101683
96,0.247009,0.134569,0.127960,0.125822,0.126351,0.126937,0.132970,0.128599,0.126617,0.131385,...,0.081090,0.090779,0.095808,0.085174,0.098484,0.110568,0.114001,0.114539,0.117619,0.096024
97,0.223523,0.131844,0.125968,0.125956,0.125120,0.129141,0.114660,0.111839,0.105735,0.109189,...,0.095880,0.081109,0.084300,0.087309,0.085720,0.095983,0.094074,0.097059,0.093789,0.109216
98,0.133741,0.128194,0.131076,0.133154,0.135699,0.136697,0.131969,0.134620,0.140577,0.141015,...,0.082921,0.090991,0.091849,0.089123,0.081269,0.078955,0.088369,0.084986,0.082059,0.112322
99,0.176117,0.127325,0.124352,0.127966,0.123014,0.122503,0.133059,0.128997,0.123942,0.127954,...,0.079025,0.065244,0.064140,0.062846,0.084363,0.086005,0.089415,0.088900,0.086859,0.098678

In [8]:
 # Average the 100 rows                                                                                                                                                                                                                                                                                                                           
row_means = df.mean(axis=0)                                                                                                                                                                                                                                                                                                                      
                                                                                                                                                                                                                                                                                                                                                  
 # Transpose the DataFrame                                                                                                                                                                                                                                                                                                                        
transposed_df = row_means.to_frame()

transposed_df

                        0
0                 0.18016
1                0.180515
2                0.176521
3                 0.17491
4                0.167201
...                   ...
304               0.10302
305              0.102871
306              0.102562
307              0.108156
date  2024-03-08 12:00:00

[309 rows x 1 columns]

In [9]:
num_rows = len(transposed_df)
end_date = pd.to_datetime('2024-04-27')
date_range = pd.date_range(end=end_date, periods=num_rows)
transposed_df['date'] = date_range

In [12]:
transposed_df.rename({0: 'beta'}, axis='columns', inplace=True)

In [13]:
transposed_df

                     beta       date
0                 0.18016 2023-06-24
1                0.180515 2023-06-25
2                0.176521 2023-06-26
3                 0.17491 2023-06-27
4                0.167201 2023-06-28
...                   ...        ...
304               0.10302 2024-04-23
305              0.102871 2024-04-24
306              0.102562 2024-04-25
307              0.108156 2024-04-26
date  2024-03-08 12:00:00 2024-04-27

[309 rows x 2 columns]

In [15]:
target_dates = pd.read_csv('../datasets/target_dates.csv')

In [ ]:
for target_date in target_dates['date']:                                                                                                                                                                                                                                                                                                      
    start_date = target_date - pd.Timedelta(days=50)                                                                                                                                                                                                                                                                                          
    filtered_df = df[(df['date'] > start_date) & (df['date'] <= target_date)]                                                                                                                                                                                                                                                                 
    filtered_df.to_csv(f'filtered_{target_date.strftime("%Y%m%d")}.csv', index=False)